*{
	margin: 0px;
	padding: 0px;
}

#panel{
	background-color: #FFF;
	width: 650px;
	height: auto;
	padding: 10px;
	box-shadow: #333 0px 0px 1px;
	border-radius: 2px;
}

#panel:hover{background-color: #F5F5F5;}

.titulo{
	font-size: 25px;
	color: #000;
}

.titulo:hover{
	text-decoration: none;
}


.descricao{
	font-size: 18px;
	color: #696969;
}

.foto{
	width: 630px;
	height: 400px;
}

.foto-comment{
	width: 30px;
	height: 30px;
	border-radius: 3px;
}
